.header{
    background-color:rgb(54, 51, 51);
    margin:-7px;
    padding-bottom:60px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
}
body{
    background-color:rgb(54, 51, 51);
}
.header_center_items4{
    text-align:center;
    position: absolute;
    top:17px;
    font-size:22px;
    left:500px;
    transition: font-size 0.5s, text-shadow 0.5s;
    text-decoration: none;
    color:rgb(255, 255, 255);
}
.header_center_items5{

    text-align:center;
    position: absolute;
    top:17px;
    font-size:22px;
    transition: font-size 0.5s, text-shadow 0.5s;
    left:750px;
    text-decoration: none;
    color:white;
}
.header_center_items6{
    text-align:center;
    position: absolute;
    top:17px;
    left:1000px;
    transition: font-size 0.5s, text-shadow 0.5s;
    font-size:22px;
    text-decoration: none;
    color:white;
    
}
.header_center_items4:hover{
    font-size:22.2px;
    text-shadow: 5px 5px 5px rgba(0,0,0.25);
}
.header_center_items5:hover{
    font-size:22.2px;
    text-shadow: 5px 5px 5px rgba(0,0,0.25);
}
.header_center_items6:hover{
    font-size:22.2px;
    text-shadow: 5px 5px 5px rgba(0,0,0.25);
}
.paragraph{
    color: white;
    font-size: 50px;
    position: absolute;
    top:40%;
    left:38%;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}